.login__form {
  width: 50%;
  height: 30%;
  max-width: 24rem;
  max-height: 20rem;

  border-radius: 0.5rem;
  background: #2c2c2c;
  color: #9c9c9c;

  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;

  padding: 1.5rem 1.5rem;

  & > h1 {
    font-weight: 700;
  }
}

.login__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.0rem;
  width: 100%;
}

.login__form__input {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  position: relative;

  border: 1px #9c9c9c solid;
  border-radius: 0.25rem;
  background: #2c2c2c;
  opacity: 1;

  transition: all 0.25s;

  font-size: 1rem;
  line-height: 24px;

  & > p {
    padding: 0;
  }

  &:focus-within, 
  &.has-text {
    outline: 1px #9c9c9c solid;

    & > p {
      background: #2c2c2c;
      transform: translate(-0.2rem, -1.23rem);
      font-size: 14px;
      transition: all 0.25s;

      padding: 0 0.5rem;
    }
  }

  & > input {
    background: transparent;
    border: none;

    position: absolute;
    width: 95%;
    height: 100%;
    outline: none;
  }
}

.login__form__button {
  margin-top: 0.75rem;
  padding: 0.35rem 0.75rem;

  border: 1px #9c9c9c solid;
  border-radius: 0.25rem;

  &:hover {
    background: #9c9c9c;
    color: #1c1c1c;
  }
}
