@use "./content.scss";
@use "./sidebar.scss";
@use "./reset.scss";
@use "./login.scss";

body {
  font-family: sans-serif;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
